<nav class="navbar" id="navbar">
    <a href="#">
        <img src="/image/logonew.png" class="navbar-logo" alt="logo">
    </a>
    <a href="/auth/home">Home</a>
    <div class="dropdown">
        <a href="/auth/information" class="dropbtn">Information</a>
        <div class="dropdown-content">
            <a href="/auth/information">Overview</a>
            <a href="/auth/siklus">Cycle</a>
        </div>
    </div>
    <div class="dropdown">
        <a href="#" class="dropbtn">Maps</a>
        <div class="dropdown-content">
            <a href="/auth/map">2024</a>
            <a href="/auth/map23">2023</a>
            <a href="/auth/map22">2022</a>
            <a href="/auth/mapcoor">Coordinates</a>
        </div>
    </div>
    <a href="/auth/tantangan">Challenge</a>
    <a href="/auth/diskusi">Discussion</a>
    <a href="/auth/report">Report</a>
    <a href="/auth/games">Games</a>
    <a href="/auth/donasi">Donation</a>
    <a href="/auth/dashboard" class="button profile-btn" style="float: right;">Profile</a>
</nav>