<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

    <title>Login - planer</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="website icon" type="png"
        href="/image/logonew.png">
</head>
<body class="home">
    <nav class="navbar" id="navbar">
    <a href="#">
        <img src="/image/logonew.png" class="navbar-logo container-fluid" alt="logo">
    </a>
    <a href="/auth/home">Home</a>
        <a href="/auth/register" class="button" style="float: right;">Register</a>

</nav>
<br>
<br>
<br>
    <div class="login">
        <img src="/image/logonew.png" style="width: 150px;">
        <h2>Register</h2>
        <form action="/auth/register" method="POST">
            <div class="form-group">
                <label>Username:</label>
                <input type="text" name="username" required>
            </div>
            <div class="form-group">
                <label>Email:</label>
                <input type="email" name="email" required>
            </div>
            <div class="form-group">
                <label>Password:</label>
                <input type="password" name="password" required>
            </div>
            <button type="submit" class="btn">Register</button>
        </form>
        <br>
        <br>
        <p>Already have an account? <a href="/auth/login">Login here</a></p>
    </div>
</body>
</html>